# Virtualenv
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache

# Build artifacts
dist/
build/

# Environment variables
*.env

# Logs and reports
logs/
*.log
zap_report.html

# Terraform state
terraform/.terraform/
terraform/*.tfstate*
terraform/crash.log
terraform/.terraform.lock.hcl

# Ansible facts/retry
ansible_facts/
*.retry

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
.coverage
coverage.xml
htmlcov/

# folders
artifacts/
tmp/
